In [1]:
'''
    @Author: Bhupinder Singh
    @Date: 25-12-2022
    @Last Modified by: Bhupinder Singh
    @Last Modified date: 25-12-2022
    @Title: Write a Python program to insert a new column in existing DataFrame.
            exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
            'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
            labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
'''
import sys

from data_log import get_logger

import numpy as np
import pandas as pd

lg = get_logger(name="(program_21)", file_name="data_log.log")

In [2]:
class PandasDataManipulation:

    def insert_new_column(self, exam_data, labels):
        """
        Description:
            This function is used to insert a new column in existing DataFrame
        Parameter:
            exam_data and labels: The exam_data and labels to be checked
        Return:
            Returns None
        """
        try:
            data_frame = pd.DataFrame(exam_data, index=labels)
            lg.info(f'Original dataframe: \n{data_frame}')
            data_frame['phone_num'] = [9876, 5679, 8645, 6793,
                                       5699, 7653, 4566, 3458, 7883,7869]
            lg.info(
                f'After inserting "phone num" column: \n{data_frame}')
        except Exception:
            exception_type, _, exception_traceback = sys.exc_info()
            line_number = exception_traceback.tb_lineno
            lg.exception(
                f"Exception type : {exception_type} \nError on line number : {line_number}")

In [3]:
if __name__ == "__main__":
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                          'Matthew', 'Laura', 'Kevin', 'Jonas'],
                 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    pd_obj = PandasDataManipulation()
    pd_obj.insert_new_column(exam_data, labels)

(program_21) - 2022-12-27 12:56:28,936 - INFO - Original dataframe:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
(program_21) - 2022-12-27 12:56:28,944 - INFO - After inserting "phone num" column:
        name  score  attempts qualify  phone_num
a  Anastasia   12.5         1     yes       9876
b       Dima    9.0         3      no       5679
c  Katherine   16.5         2     yes       8645
d      James    NaN         3      no       6793
e      Emily    9.0         2      no       5699
f    Michael   20.0         3     yes       7653
g    Matthew   14.5         1     yes       4566
h      Laura    NaN         1      no       3458
i      Kevin    8.0         2      no       7883
j      Jonas   19.0         1     yes       7869